<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<form action="/restaurants" method="post">
			input name: 
			<input type="text" name="name">
			<input type="text" name="address">
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>